.footer {
  background: rgb(20, 94, 93);
  background: linear-gradient(
    180deg,
    $gradientLight 0%,
    $gradientMedium 75%,
    $gradientDark 100%
  );
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  font-size: 12px;
}

// .footer-wrapper {
//   @include displayFlex(row);
//   gap: 40px;
// }

.contact,
account {
  @include displayFlex(column);
  text-align: center;
}
.contact-list {
  @include displayFlex(column);
}

.contact-element {
  @include displayFlex();
}

.contact-text {
  margin-left: 10px;
}

.bank-account {
  @include displayFlex(column);
  gap: 8px;
}
