.footer {
  margin-top: auto;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(
    180deg,
    $gradientLight 0%,
    $gradientMedium 75%,
    $gradientDark 100%
  );
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 12px;
}

.contact,
account {
  @include displayFlex(column);
  text-align: center;
}
.contact-list {
  @include displayFlex(column);
  font-size: 16px;
}

.contact-element {
  @include displayFlex();
}

.contact-text {
  margin-left: 10px;
}

.rodo {
  @include displayFlex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
  &__cert {
    height: 20px;
  }
}
