.header {
  background: rgb(20, 94, 93);
  background: linear-gradient(
    180deg,
    rgba(20, 94, 93, 1) 0%,
    rgba(24, 136, 140, 1) 25%,
    rgba(34, 180, 186, 1) 100%
  );

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.header__top {
  @include displayFlex();
  height: 30px;
  padding-top: 15px;
  padding-inline: 40px;
  justify-content: end;
  gap: 30px;
}

.menu {
  &__list {
    @include displayFlex(row);
    text-transform: uppercase;
    justify-content: space-between;
    padding-inline: 50px;
    padding-bottom: 20px;
  }
  &__item:hover {
    color: $turquoiseDark;
    // font-weight: 700;
  }
}

.current-page {
  //TODO
  font-size: larger;
  &:hover {
    //TODO
    color: red;
  }
}

.fi {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.5);
  }
}

.logo {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  letter-spacing: 0.4rem;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}
