body {
  font-family: "Alkatra", cursive;
  font-family: "Roboto", sans-serif;
}

.title {
  padding-top: 10px;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  padding-block: 10px;
  // nowe
  margin: 0;
}

h4 {
  font-size: 14px;
  margin: 0.3em;
}
.blue {
  color: $blue;
}

.fw900 {
  font-weight: 900;
}

.fw700 {
  font-weight: 700;
}

.red {
  color: red;
}
.lblue {
  color: $lblue;
}

.dgreen {
  color: $dgreen;
}

.purple {
  color: $purple;
}

.brown {
  color: $brown;
}
// .wrapper {
//   font-size: 24px;
// }

.underline {
  text-decoration: underline;
}

.hand {
  font-family: "Alkatra", cursive;
}

@media (min-width: $tablet) {
  h2 {
    font-size: 18px;
    padding-block: 25px;
  }
  h4 {
    font-size: 16px;
    margin: 0.8em;
  }
  .title {
    font-size: 18px;
  }
}

@media (min-width: $desktop) {
  h2 {
    //nowe - zmiana z 20
    font-size: 18px;
    padding-block: 15px;
  }
  h4 {
    //nowe - zmiana z 18

    font-size: 16px;
    margin: 0.8em;
  }
  .title {
    padding-top: 20px;
    font-size: 20px;
  }
}
