body {
  font-family: "Roboto", sans-serif;
}

.title {
  color: $green;
}
a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 30px;
  font-weight: 900;
  padding-block: 50px;
}

h4 {
  font-size: 24px;
  margin: 0.8em;
}
.blue {
  color: $blue;
}

.fw900 {
  font-weight: 900;
}

.fw700 {
  font-weight: 700;
}

.fs20 {
  font-size: 20px;
}

.red {
  color: red;
}
.lblue {
  color: $lblue;
}

.dgreen {
  color: $dgreen;
}

.purple {
  color: $purple;
}

.brown {
  color: $brown;
}
.wrapper {
  font-size: 24px;
}

.underline {
  text-decoration: underline;
}
