.text-block {
  font-size: 18px;
  // position: relative;
  // &::after {
  //   @include stripe;
  // }
  padding: 20px;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
}

.profile_photo {
  max-width: 300px;
  height: auto;
  border: 1px solid $turquoiseDark;
  border-radius: 20px;
}
