.text-block {
  font-size: 18px;
  padding: 20px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.profile_photo {
  float: right;
  margin-left: 10px;
  max-width: 300px;
  height: auto;
  border: 1px solid $turquoiseDark;
  border-radius: 20px;
}
