.text-block {
  font-size: 18px;
  padding: 20px;
  text-align: justify;
  margin-left: 12%;
  margin-right: 12%;
}

.text-block p {
  margin-bottom: 0;
}

.profile_photo {
  float: right;
  margin-left: 10px;
  max-width: 300px;
  height: auto;
  border: 1px solid $turquoiseDark;
  border-radius: 20px;
}

.signature {
  margin-top: 20px;
  &__first {
    padding-left: 60%;
  }
  &__second {
    margin-top: 15px;
    padding-left: 50%;
  }
}
