.section {
  padding-left: 10%;
  text-align: left;
}

.levels {
  @include displayFlex;
  justify-content: space-between;
  padding-top: 15px;

  padding-inline: 20px;
  &__element {
    text-align: center;
  }
}

.abonament-type {
  padding-left: 30px;
  font-weight: 400;

  &__element {
    padding-top: 15px;
    list-style-type: "-  ";
  }
}
