.gallery {
  @include displayFlex(column);
  gap: 15px;
  justify-content: center;
  transition: transform 0.3s ease-in-out;

  a img {
    width: 120px; // Domyślna szerokość dla małych ekranów
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: $tablet) {
  .gallery {
    @include displayFlex();
    gap: 30px;
    flex-wrap: wrap;
    padding-inline: 50px;

    a img {
      width: 200px; // Większa szerokość na większych ekranach
    }
  }
}
