// COLORS

$green: rgb(0 197 161);
$turquoiseLight: rgb(34 180 186);
$turquoise: rgb(24 136 140);
$turquoiseDark: rgb(20 94 93);
$turquoiseVDark: rgb(10, 42, 41);
$blue: rgb(16 31 206);
$lblue: rgb(0 180 247);
$dgreen: rgb(0 185 80);
$purple: rgb(142 24 133);
$brown: rgb(63 22 0);
$black: rgb(0 16 22);
$whiteBlue: rgb(224 255 254);
$white: white;

$gradientVDark: rgb(5, 135, 133);
$gradientDark: rgb(70, 160, 158);
$gradientMedium: rgb(82, 163, 165);
$gradientLight: rgb(34, 181, 186);

$tablet: 481px;
$desktop: 769px;
